* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d7dadc;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-button-container {
  display: flex;
  flex-direction: column;
}

.create-post-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.create-post-container img {
  width: 50px !important;
  height: 50px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.create-button {
  width: 70% !important;
  height: 50px;
  border-radius: 10px;
  margin-left: 5px !important;
  background: #1a1a1b !important;
}

.create-button a {
  color: #d7dadc;
}

.create-button-left-right {
  border-radius: 10px;
  width: 10%;
  margin-right: 10px;
  background: #1a1a1b !important;
}

.create-button-right-right {
  border-radius: 10px;
  width: 10%;
  background: #1a1a1b !important;
}

.sort-container {
  margin-top: 10px;
  background: #1a1a1b;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

button {
  margin: 0 10px 0 10px;
  padding: 8px;
  border-radius: 10px;
  background: #212122;
  border: none;
  color: #d7dadc;
}

button:hover {
  background: #ff5700;
}

button:focus {
  outline: none !important;
}

.main-container {
  margin-bottom: 50px;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  background: black;
  color: #d7dadc;
}

.navigation {
  margin-bottom: 50px !important;
}

.main-section-container {
  margin: 0 auto;
  width: 800px;
}

.entire-post-container {
  border-radius: 10px;
  margin: 10px 0 10px 0;
  background: #1a1a1b;
}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #d7dadc;
  text-align: left;
}

.post-comment-container {
  display: flex;
}

.individual-post-container {
  border-bottom: 1px solid black;
}

.post-comment-left {
  width: 10%;
  border-right: 1px solid #d7dadc;
}

.post-comment-right {
  width: 90%;
}

.post-comment-right p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
}

.post-comment-right button {
  margin-top: 25px;
  margin-bottom: 20px;
}

.counter {
  width: 10%;
  border-right: 1px solid #d7dadc;
  padding-top: 20px;
}

.content {
  width: 90%;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.post-title {
  font-size: 28px;
  cursor: pointer;
}

.post-subreddit {
  font-size: 12px;
  cursor: pointer;
}

.post-buttons {
  display: flex;
}

.post-button-left-div {
  width: 10%;
  border-right: 1px solid #d7dadc;
}

.post-button-right-div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-button-right-div button {
  height: 40px;
  width: 100px;
}

.bg-dark {
  background: #1a1a1b !important;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 800px;
  border-radius: 10px !important;
}

.post-form button {
  width: 150px;
  justify-content: right;
  margin-top: 10px;
}

.post-form input {
  min-height: 50px;
  background: #1a1a1b !important;
  border-right: none;
  border-bottom: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #d7dadc;
}

::-webkit-input-placeholder {
  color: #d7dadc;
  padding: 10px;
}

.post-content {
  height: 100px;
}

.post-container {
  display: flex;
}

.navbar-brand img {
  width: 50px !important;
  height: 50px !important;
}

.post-edit-form-container {
  display: flex;
  flex-direction: column;
}

.post-edit-form-container input {
  height: 50px;
  background: #212122;
  color: #d7dadc;
  margin-left: 20px;
  border-right: none;
  width: 90%;
}

.post-edit-form-container label {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.post-edit-form-container button {
  width: 200px;
  text-align: center;
}
